// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

@import "topbar";
@import "proxima";
@import "footer";
@import "offcanvas";

/* variables */
$sans-serif: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;


/* global styles */
body { -webkit-font-smoothing: antialiased; }

/* foundation overrides */
.button { background: #e1e2e4; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; color: #00232b; border: none; font-family: $sans-serif; 
  &:hover { background: #FFF; color: #00232b; }
  &.primary { background: #004454; color: #FFF; 
    &:hover { background: #0d2b40; }
  }
  &.large { font-size: emCalc(17px); padding: 1.47em 2.88em 1.3em; }
  &.small { padding-top: 0.825em; padding-bottom: 0.7625em; }
  &.tiny { padding: 1px 10px 0; }
}
h1, h2, h3, h4, h5, h6 { font-family: $sans-serif; }
h1 { font-size: emCalc(48px); }
h3 { font-size: emCalc(32px); margin-bottom: 0; line-height: 1.1; }
.lead { font-family: $sans-serif; color: #777; font-size: emCalc(18px); margin-bottom: 20px;  }
p { font-size: emCalc(14px); }

/* main area */
.top-area { background-color: #002b35; position: relative; z-index: 4;
  &.main { background-image: url(../images/water.png); background-repeat: no-repeat; background-position: center center; background-size: cover;
    .row {position: relative;} 
    p.lead { font-family: $sans-serif; font-size: emCalc(24px); line-height: 1.4em; }
  } 
  &.downloading { overflow: hidden; 
    h1 { font-size: emCalc(48px); padding: 110px 0 0; }
  }
  h1 { color: #FFF; font-family: $sans-serif; font-size: emCalc(100px); margin-bottom: 0;  }
  h2 { color: #FFF; font-size: emCalc(35px); padding: 51px 0 0 0; margin-bottom: 12px; }
  p { color: #FFF; }
  
}
.home-text { padding: 100px 0 103px; position: relative; }
.inky { background: url(../images/inky-all-devices.svg) no-repeat center center; background-size: cover; height: 680px; width: 634px; position: absolute; right: -600px; top:10px !important;  }
.inky.loaded { animation-name: inky-float; -webkit-animation-name: inky-float; animation-duration:5s; -webkit-animation-duration:5s; animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; }   
  @keyframes inky-float {
  	0% { transform: translateY(0%); }
  	50% { transform: translateY(2%); }	
  	100% { transform: translateY(0%); }			
  }
  
  @-webkit-keyframes inky-float {
  	0% { -webkit-transform: translateY(0%);	}
  	50% { -webkit-transform: translateY(2%);	 }	
  	100% { -webkit-transform: translateY(0%); }			
  }

.bubble { position: absolute; width: 16px; height: 16px; opacity: 0; } 
.bubble.float { opacity: 0;-webkit-animation: purple-bubbles 5s ease-in infinite; animation: purple-bubbles 5s ease-in infinite; }
  @-webkit-keyframes purple-bubbles {  
    0% { -webkit-transform: scale(0); opacity: 0; top:100%; }
    17% { -webkit-transform: scale(0.1);opacity: 1; }
    19% { -webkit-transform: scale(0.90);opacity: 1; }
    20% { -webkit-transform: scale(1); }
    25% { -webkit-transform: scale(1.1); }
    30% { -webkit-transform: scale(0.95); }
    45% { -webkit-transform: scale(1.1); }
    91% {-webkit-transform: scale(1);top: 0;opacity: 0;}
    100% { -webkit-transform: scale(0); top: 0%; opacity: 0; }
  }
  @keyframes purple-bubbles {  
    0% { -webkit-transform: scale(0); opacity: 0; top:100%; }
    2% {-webkit-transform: scale(0);opacity: 1;}
    15% { -webkit-transform: scale(0.90); }
    20% { -webkit-transform: scale(1); }
    25% { -webkit-transform: scale(1.1); }
    30% { -webkit-transform: scale(0.95); }
    45% { -webkit-transform: scale(1.1); }
    91% {-webkit-transform: scale(1);top: 0;opacity: 0;}
    100% { -webkit-transform: scale(0); top: 0%; opacity: 0; }
  }


/* callout */
.callout { background: #e5e9ea; margin-bottom: 60px;
  .row {  position: relative; 
    .stamp { background: url(../images/inky-stamp.svg) no-repeat center center; position: absolute; width: 199px; right:-40px; height: 179px; top:-104px; background-size: cover;  } 
  }
}
.space-callout { padding: 53px 0 31px; }
.templates-callout { background: #2e2f2f; padding: 20px; position: relative; top: 150px;  
  h5, p { color: #FFF; position: relative; z-index: 2; }
  p { margin-bottom: 30px; }
  a { margin-bottom: 0; }
}

.discover-links {
  a:hover { 
    &.process { background-position: center 5px; }
    &.docs { background-position: center -500px; }
    &.download { background-position: center -1000px; }
  }
}


/* discover links */
.discover-links { margin-bottom: 50px;
  a { display: block; text-align: center; padding: 145px 0 25px; background: url(../images/icons/discover.png) no-repeat 0 0; background-size: 125px 1500px; 
    &.process { background-position: center 14px; }
    &.docs { background-position: center -490px; }
    &.download { background-position: center -990px; }
  }
  span { display: block; 
    &.title { font-family: $sans-serif; font-size: emCalc(21px); color: #0d2b40; margin-bottom: 10px; }
    &.description { color: #333; font-size: emCalc(14px); line-height: 1.6em; }
  }
}

/* stay updated */
.stay-updated { background: #004454; padding: 36px 0 32px;
  h5, a { color: #FFF; margin-bottom: 0; }
  p { color: #8798a7; margin-bottom: 0; }
  form { margin-bottom: 0; margin-top: 9px; 
    input { padding: 18px; border: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;  }
    .button { padding-top: 13px; }
  } 
}

/* interior */
.top-headlines { margin-top: 50px; 
  h1 { margin-bottom: 0; }
}
hr { border-style: dashed; }

/* templates */
.template-thumbs { margin-bottom: 50px;
  a { display: block; 
    &.button { display: inline-block; }
    img { display: block; margin-bottom: 15px; }
  }
  span { display: block; color: #333; 
    &.name { font-size: emCalc(21px); font-family: $sans-serif; color: #0d2b40; }
    &.description { font-size: emCalc(14px); margin-bottom: 15px; }
  }
}
.thumb-select { margin-top: 20px; 
  label, select { display: inline-block; }
  select { width: 110px; margin-left: 10px; }
}
.how-to-use { position: relative; padding: 30px 0;  }
.inky-small { height: 377px; width: 273px; position: absolute; top: 0; right: -310px; z-index: 2;}
.inky-small.load { height: 377px; width: 273px; position: absolute; top: 0; right: -310px; z-index: 2;animation-name: small-inky; -webkit-animation-name: small-inky; animation-duration:9s; -webkit-animation-duration:9s; animation-iteration-count: infinite; -webkit-animation-iteration-count:infinite;  }

/* downloading */
.main-text { position: relative; }
.inky-fish { background: url(../images/inky-mobile-hold.svg) no-repeat center center; background-size: cover; height: 444px; width: 358px; margin: 0 auto; position: relative; top: 40px; }
.under-inky-fish { margin-top: 50px; margin-bottom: 50px; 
  ul { font-size: emCalc(14px); margin-left: 15px; }
}
.read-docs { margin-top: 20px; 
  a { background: #e5ecee url(../images/icons/read-docs.png) no-repeat 38px center; ; padding: 23px 23px 23px 97px; background-size: 32px 44px; display: block; }
  span { margin-bottom: 0; display: block; 
    &.title { color: #0c2739; font-size: emCalc(21px); font-family: $sans-serif; margin-bottom: 10px; }
    &.description { font-size: emCalc(14px); color: #333; line-height: 1.6; }
  }
}

.inky-fish.load { animation-name: inky-fishes; -webkit-animation-name: inky-fishes; animation-duration:5s; -webkit-animation-duration:5s; animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; animation-timing-function: ease-out; }   
@keyframes inky-fishes {
	0% { transform: rotate(-15deg); }
	50% { transform: rotate(15deg); }	
	100% { transform: rotate(-15deg); }			
}

@-webkit-keyframes inky-fishes {
	0% { -webkit-transform: rotate(-15deg); }
	50% { -webkit-transform: rotate(15deg); }	
	100% { -webkit-transform: rotate(-15deg); }
}




/* process */
.how-to-use { position: relative; 
  &.one { margin-bottom: 10px;
    p, img, h3 { width: 440px; margin-left: 70px; }
    .process-1 { background: url(../images/inky.svg) no-repeat center center; height: 335px; width: 248px; background-size: cover; position: absolute; right: 65px; top: -50px;  }
    .bump-space { margin-left: 120px; }
  }
  &.two { margin-bottom: 10px;
    p, img, h3 { width: 470px; margin-left: 100px; }
    .process-2 {  height: 87px; width: 166px; background-size: cover; position: absolute; left: 68px; top: 38px;  
      img { margin-left: 0px; }
    }
    .bump-space { margin-left: 270px; }
  }
  &.three { margin-bottom: 30px;
    p, img, h3 { width: 470px; margin-left: 100px; }
    p.with-border { border-bottom: 1px solid #ddd; padding-bottom: 20px; }
    .process-3 {  height: 377px; width: 273px; background-size: cover; position: absolute; right: 110px; top: -80px;  
      img { margin-left: 0px; }
      .inky-point { background: url(../images/inky-point.svg) no-repeat center center; height: 386px; width: 349px; background-size: cover;  }
    }
    .bump-space { margin-left: 50px; }
  }
  &.four {  margin-bottom: 30px;
    p, img, h3 { width: 470px; margin-left: 100px; }
    .bump-space { margin-left: 300px; }
    .process-4 { background: url(../images/fish-3.svg) no-repeat center center; height: 116px; width: 107px; background-size: cover; position: absolute; right: 0; top: 35px;  }
    .process-4-2 { height: 63px; width: 96px; background-size: cover; position: absolute; left: 201px; top: -16px;  
      img { margin-left: 0px; }
    }
  }
  
  &.five { padding-bottom: 190px; 
    .number { top: -13px; }
    p, img, h3 { width: 470px; margin-left: 100px; }
    .bump-space { margin-left: 185px; position: relative; z-index: 2;}
    .process-5 { height: 377px; width: 273px; background-size: cover; position: absolute; left: 0; top: -120px;  }
    .process-5-2 { height: 59px; width: 90px; background-size: cover; position: absolute; right: 150px; top: 92px;  
      img { margin-left:0px; }
    }
  }
  h3 { margin-bottom: 10px;  }
  .number { display: block; font-family: $sans-serif; color: #a3abad; font-size: emCalc(138px); font-weight: bold; position: absolute; top: 23px; }
  .campaign-monitor { background: url(../images/campaign-monitor.png) no-repeat left center; background-size: 18px 12px; padding-left: 30px; }
}
.water { background: #004454; height: 80px; }
.process-5-3 { background: url(../images/inky-boat.svg) bottom center no-repeat; height: 327px; width: 393px; background-size: cover; margin: 0 auto; position: relative; top: -210px; 
  @media only screen and (max-width: 767px){ width: 100%; }
}

.process-2.load img {  animation-name: fish1; -webkit-animation-name: fish1; animation-duration:6s; -webkit-animation-duration:6s; animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: ease-in-out; }
@keyframes fish1 {
	0% { transform: translateX(0%); }
	50% { transform: translateX(3%);}
	100% { transform: translateX(0%); }		
}

@-webkit-keyframes fish1 {
	0% { -webkit-transform: translateX(0%); }
	50% { -webkit-transform: translateX(3%);}
	100% { -webkit-transform: translateX(0%); }			
}


.process-3.load div { 
  animation-name: small-inky; 
  -webkit-animation-name: small-inky;
  animation-duration:5s; 
  -webkit-animation-duration:5s; 
  animation-iteration-count: infinite; 
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function: ease-in-out; 
  animation-delay: 2s;
  -webkit-animation-delay: 1s; 
}
@keyframes small-inky {
	0% { transform: translateY(0%); }
	50% { transform: translateY(2%);}
	100% { transform: translateY(0%); }		
}

@-webkit-keyframes small-inky {
	0% { -webkit-transform: translateY(0%); }
	50% { -webkit-transform: translateY(2%);}
	100% { -webkit-transform: translateY(0%); }		
}


.process-4-2.load img {  animation-name: fish2; -webkit-animation-name: fish2; animation-duration:7s; -webkit-animation-duration:7s; animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; }
@keyframes fish2 {
	0% { transform: translateY(0%); }
	50% { transform: translateY(12%);}
	100% { transform: translateY(0%); }		
}

@-webkit-keyframes fish2 {
	0% { -webkit-transform: translateY(0%); }
	50% { -webkit-transform: translateY(12%);}
	100% { -webkit-transform: translateY(0%); }			
}

.process-5-2.load img {  animation-name: fish3; -webkit-animation-name: fish3; animation-duration:7s; -webkit-animation-duration:7s; animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; }
@keyframes fish3 {
	0% { transform: translateX(0%); }
	50% { transform: translateX(5%);}
	100% { transform: translateX(0%); }		
}

@-webkit-keyframes fish3 {
	0% { -webkit-transform: translateX(0%); }
	50% { -webkit-transform: translateX(5%);}
	100% { -webkit-transform: translateX(0%); }			
}


/* docs  */
.doc-nav { list-style: none; margin-top: 50px; 
  li { display: block; font-size: emCalc(14px); margin-bottom: 10px; 
    a { color: #333; display: block;
      &.current { font-weight: bold; margin-bottom: 10px; } 
      &:hover { color: #000; }
    }
    ul li { font-size: 1em;  }
  }
}
.docs {
  h1 { margin-top: 30px; margin-bottom: 0; }
  .label { background: #ddd; color: #333; }
  table { width:100%; font-size: emCalc(15px);
    td { line-height: 1.6; vertical-align: top; }
  }
  hr.section {
    margin-top: 50px;
    border-style: solid;
    border-width: 2px;
  }
}
.prev-next-section { @include clearfix; border-top: 1px dashed #ddd; margin: 20px 0 50px; padding-top: 20px; 
  a { font-weight: bold; color: #333; }
}


@media only screen and (max-width: 767px) {
  .top-area { position: relative; }
  .top-area .inky-phone { display:block; background: url(../images/inky-mobile-hold.svg); background-repeat: no-repeat;height: 542px; position:absolute; bottom:0px; right:0px; width: 220px; opacity: 0.7; background-size: cover; }
  .top-area .home-text { padding: 40px 0 50px; position: relative; z-index: 2; }
  .templates-callout { top: 0px; margin-bottom: 50px; }
  
  .how-to-use {
    h3, p { width: 100% !important; margin-left: 0 !important; }
    .bump-space { margin-left: 0 !important; }
    .process-1, .process-2, .process-3, .process-4, .process-4-2, .process-5, .process-5-2 { display: none !important; }
    .number { position: relative; text-align: left; width: 100%; font-size: 3.625em; top: auto; }
    img { margin-left: 0 !important; width: 100% !important; }
  }
  .callout .row .stamp { width: 129px; right: 0; height: 119px; top: -54px; }
}
 
ul.mobile-nav { display: block; margin-bottom: 0; 
 li { display: block; } 
 a { display: block; padding: 10px; background: #003542; color: #FFF; border-bottom: 1px solid rgba(255, 255, 255, 0.5); font-weight: bold; 
   &.current { background: #002f3b; } 
 }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .inky { right: -620px; }
  .touch .how-to-use { position: relative; 
    &.one { 
      p, img, h3 { width: 400px; margin-left: 70px; }
      .process-1 { background: url(../images/inky.svg) no-repeat center center; height: 325px; width: 256px; background-size: cover; position: absolute; right: -13px; top: -50px; }
      .bump-space { margin-left: 60px; }
    }
    &.two { margin-bottom: 10px;
      p, img, h3 { width: 440px; margin-left: 100px; }
      .process-2 {  height: 65px; width: 124px; background-size: cover; position: absolute; left: 0; top: 38px;  z-index: -1;
        img { margin-left: 0px; }
      }
      .bump-space { margin-left: 100px; }
    }
    &.three { margin-bottom: 30px;
      p, img, h3 { width: 350px; margin-left: 100px; }
      p.with-border { border-bottom: 1px solid #ddd; padding-bottom: 20px; }
      .process-3 {  height: 377px; width: 273px; background-size: cover; position: absolute; right: 70px; top: -100px;  
        img { margin-left: 0px; }
      }
      .bump-space { margin-left: 0; }
    }
    &.four {  margin-bottom: 30px;
      p, img, h3 { width: 350px; margin-left: 100px; }
      .bump-space { margin-left: 150px; }
      .process-4 { background: url(../images/fish-3.png) no-repeat center center; height: 116px; width: 107px; background-size: cover; position: absolute; right: 0; top: 35px;  }
      .process-4-2 { height: 63px; width: 96px; background-size: cover; position: absolute; left: 0; top: -16px;  
        img { margin-left: 0px; }
      }
    }
    
    &.five { padding-bottom: 160px; 
      .number { top: -13px; }
      p, img, h3 { width: 470px; margin-left: 100px; }
      .bump-space { margin-left: 20px; position: relative; z-index: 2;}
      .process-5 { height: 377px; width: 273px; background-size: cover; position: absolute; left: 0; top: -120px;  }
      .process-5-2 { height: 59px; width: 90px; background-size: cover; position: absolute; right: 50px; top: 92px;  
        img { margin-left:0px; }
      }
    }
    h3 { margin-bottom: 10px;  }
    .number { display: block; font-family: $sans-serif; color: #a3abad; font-size: emCalc(138px); font-weight: bold; position: absolute; top: 23px; }
    .campaign-monitor { background: url(../images/campaign-monitor.png) no-repeat left center; background-size: 18px 12px; padding-left: 30px; }
  }
  .inky-small.load { right: -250px; }
  .top-bar-section .has-form { padding: 11px 15px; height: 45px; }
  .button.tiny { padding: 5px 10px; }
  .top-area.main { overflow-x: hidden; }
}

/* coming-soon */
.coming-soon { background: #004454; 
  .home-text { padding: 80px 0 83px; }
  .cs-text { margin-bottom: 5px; color: rgba(255,255,255,.5); }
  input { padding: 20px 20px 19px; }
  .confirm { font-size: 1em; font-style: italic; }
  .form-thanks { height: 45px; overflow: hidden; 
    .confirm { display: none; }
  }
}

@media only screen and (max-width: 767px){
  .coming-soon {
    h1, p { text-align: center; }
    .home-text { padding: 20px 0 0 0; }
  }
  
}
.cs-inky { background: url(../images/inky-mobile.svg) no-repeat right bottom; background-size: 624px 558px; 
  @media only screen and (max-width: 767px){
    background: url(../images/inky-mobile-hold.svg) no-repeat center bottom; background-size: 147px 200px; padding-bottom: 140px;  
  }
}