<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
	<link rel="stylesheet" href="ink.css" />
	<style>
	
		/* Include ink.css */

		/* Custom styles go here*/
		
    a.facebook td {
      background: #3b5998;
      border-color: #2d4473;
    }

    a:hover.facebook td {
      background: #2d4473 !important;
    }

    a.twitter td {
      background: #00acee;
      border-color: #0087bb;
    }

    a:hover.twitter td {
      background: #0087bb !important;
    }
    a.google-plus td {
      background: #DB4A39 !important;
      border-color: #CC0000 !important;
    }
    a:hover.google-plus td {
      background: #CC0000 !important;
    }

	</style>
</head>
<body>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
         
        <table class="row header" style="background:#999999;">
          <tr>
            <td>
        
              <table class="container">
                <tr>
                  <td class="wrapper last">
        
                    <table class="twelve columns">
                      <tr>
                        <td class="six sub-columns">
                          <img src="http://placehold.it/200x50">
                        </td>
                        <td class="six sub-columns last" align="right" style="text-align:right; vertical-align:middle;">
                          <span style="color:#ffffff;font-weight:bold;font-size:11px;">BASIC</span>
                        </td>
                        <td class="expander"></td>    
                      </tr>
                    </table>
        
                  </td>
                </tr>
              </table>
        
            </td>
          </tr>
        </table> 

        <table class="container">
          <tr>
            <td>
            
              <table class="row">
                <tr>
                  <td class="wrapper last">
                
                    <table class="twelve columns">
                      <tr>
                        <td>
                          <h3>Hi, Elijah Baily</h3>
              						<p class="lead">Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.</p>
              						<p>Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. consequat vel lacus. Sed iaculis pulvinar ligula, ornare fringilla ante viverra et. In hac habitasse platea dictumst. Donec vel orci mi, eu congue justo. Integer eget odio est, eget malesuada lorem. Aenean sed tellus dui, vitae viverra risus. Nullam massa sapien, pulvinar eleifend fringilla id, convallis eget nisi. Mauris a sagittis dui. Pellentesque non lacinia mi. Fusce sit amet libero sit amet erat venenatis sollicitudin vitae vel eros. Cras nunc sapien, interdum sit amet porttitor ut, congue quis urna.</p>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                
                  </td>
                </tr>
              </table>
            
              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td class="panel callout">
                          <p>Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. <a href="#">Click it! »</a></p>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>
            
              <table class="row">
                <tr>
                  <td class="wrapper last">
                    
                    <table>
                      <tr>
                        <td class="panel">
                          
                      
                    <table class="twelve columns">
                      <tr>
                        <td class="six sub-columns">

                          <h5>Connect With Us:</h5>

                          <a class="tiny-button facebook" href="#">
                            <table>
                              <tr>
                                <td>
                                  Facebook
                                </td>
                              </tr>
                            </table>
                          </a>

                          <br>

                          <a class="tiny-button twitter" href="#">
                            <table>
                              <tr>
                                <td>
                                  Twitter
                                </td>
                              </tr>
                            </table>
                          </a>

                          <br>

                          <a class="tiny-button google-plus" href="#">
                            <table>
                              <tr>
                                <td>
                                  Google +
                                </td>
                              </tr>
                            </table>
                          </a>

                        </td>
                        <td class="six sub-columns last">
                          <h5>Contact Info:</h5>
                          <p>Phone: 408.341.0600</p>
                          <p>Email: <a href="mailto:hseldon@trantor.com">hseldon@trantor.com</a></p>
                        </td>          
                        <td class="expander"></td>
                      </tr>
                    </table>
  </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            
            
              <table class="row">
                <tr>
                  <td class="wrapper last">
          
                    <table class="twelve columns">
                      <tr>
                        <td align="center">
                          <center>
                            <p style="text-align:center;"><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Unsubscribe</a></p>
                          </center>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
          
                  </td>
                </tr>
              </table>
            
            <!-- container end below -->
            </td>
          </tr>
        </table> 

			</td>
		</tr>
	</table>
</body>
</html>