@import 'settings';
@import '../../../../scss/foundation';

@media only screen and (max-width: #{$global-breakpoint}) {
  .small-float-center {
    margin: 0 auto;
    float: none;
    text-align: center;
  }

  .small-text-center {
    text-align: center;
  }

  table.menu.small-vertical {
    td,
    th,
    a {
      display: block !important;
    }
  }
}



.header {
  background: $light-gray;
  border-radius: 10px;
  Margin-bottom: $global-margin * 2;

  .columns {
    padding-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }

  img {
    padding-top: $global-padding;
    padding-bottom: $global-padding;
  }
}

.container {
  border-radius: 10px;
}

.feature-block {
  background: $light-gray;
  Margin-bottom: $global-padding * 2;

  .columns {
    padding-top: $global-padding * 2;
    padding-bottom: $global-padding * 2;
  }
}

.gallery {
  img {
    Margin-bottom: $global-margin;
  }

  .gallery-name {
    text-align: center;
    font-weight: bold;
    Margin-bottom: 0;
  }

  .gallery-age {
    color: $secondary-color;
    text-align: center;
  }
}


// building block

.feature-list {
  
  .feature-list-item {
    border-top: 1px solid $light-gray;
    td, th {
      padding: 10px 0 10px 0;
    } 
  }

  .feature-list-item-info {
    font-size: 14px; 
    line-height: 21px; 
    text-transform: uppercase;
    color: $medium-gray;
    Margin-bottom: 0;
  }

  .feature-list-item-header {
    font-size: 20px; 
    line-height: 30px;
    Margin-bottom: 5px;

    a {
      color: $black;
    }
  }
}


