<container>
  <row>
    <columns large='12'>
       <subcolumns large='6' small='6'>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna.
          </p>
        </subcolumns>
        <subcolumns large='6' small='6'>
          <img src="http://placehold.it/400x100" alt="">
         </subcolumns>
    </columns>
  </row>
</container>

<br/>
<br/>
<br/>
<br/>

<container>
  <row>
    <columns large='6'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna.
      </p>
    </columns>
    <columns large='6'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna.
      </p>
    </columns>
  </row>
</container>
