{{> header }}
<container>
  <row>
    <columns large='12'>
      <h1>wertuivjlkh</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
      <img width="580" height="300" src="http://placehold.it/580x300">
    </columns>
  </row>
  <row>
    <columns large='12'>
      <callout>
        <p>Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.</p>
        <button><a href="#">Click it! »</a></button>
      </callout>
    </columns>
  </row>
  <row>
    <columns large='6'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.</p>
      <button><a href="#">Click Me!</a></button>
      <br>
      <callout>
      <p>What a game</p>
      </callout>
    </columns>
    <columns large='6'>
      <callout>
        <h6>Header Thing</h6>
        <p>Sub-head or something</p>
        <inline-list-v>
          <a href="#">Just a Plain Link &raquo;</a>
          <a href="#">Just a Plain Link &raquo;</a>
          <a href="#">Just a Plain Link &raquo;</a>
          <hr>
          <a href="#">Just a Plain Link &raquo;</a>
          <hr>
          <a href="#">Just a Plain Link &raquo;</a>
          <hr>
          <a href="#">Just a Plain Link &raquo;</a>
          <hr>
          <a href="#">Just a Plain Link &raquo;</a>
        </inline-list-v>
      </callout>
    </columns>
  </row>
  <row>
    <columns large='6'>
    </columns>
    <columns large='6'>
      <callout>
        <h6 style="margin-bottom:5px;">Connect With Us:</h6>
        <button class="tiny-button facebook">
          <a href='#'>Facebook</a>
        </button>
        <hr>
        <button class="tiny-button twitter">
          <a href='#'>Twitter</a>
        </button>
        <hr>
        <button class="tiny-button google-plus">
          <a href='#'>Google</a>
        </button>
        <br>
        <h6 style="margin-bottom:5px;">Contact Info:</h6>
        <p>Phone: <b>408.341.0600</b></p>
        <p>Email: <a href="mailto:hseldon@trantor.com">hseldon@trantor.com</a></p>
      </callout>
    </columns>
  </row>
 </container>
 {{> footer }}
