<row>
  <columns large='12'>
    <center>
      <p style="text-align:center;"><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Unsubscribe</a></p>
    </center>
  </columns>
</row>
</container>