<row class="header">
  <container>
    <columns large='12' small='12'>
      <subcolumns large='6' small='6'>
        <img src="http://placehold.it/200x50">
      </subcolumns>
      <subcolumns large='6' small='6'>
        <span class="template-label">SIDEBAR HERO</span>
      </subcolumns>
    </columns>
  </container>    
</row>