table.inline-list {
  width: 100% !important;
}

//This rule makes vertical inline-lists flush with other content.
//Not sure if this is too style specific. May need to be removed.
td.vertical {

  padding-top: 10px !important;
}

table[class="body"] table.inline-list td.vertical {
  display: block !important;
}
