<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="ink.css"> <!-- For testing only -->

    <style type="text/css">
      
      /* Ink styles go here in production */
      
    </style>
    <style type="text/css">

      /* Your custom styles go here */

    </style>
    <!-- Any element styled with a webfont should be internally wrapped with a span and this class 
       to control the fallback font in Outlook.  Otherwise Outlook will default to Times New Roman.  
       Replace Arial,sans-serif with your preferred fall-back. -->
    <!--[if gte mso 9]>
    <style type="text/css">
		  .fallback { font-family:'Arial',sans-serif; }
    </style>
    <![endif]-->
  </head>
  <body bgcolor="#ffffff" border="0" style="min-width:100%;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;color:#333333;font-family:Arial,sans-serif;">
  <center>
    <table class="body" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" valign="top" class="center">

          <!-- Header -->

        </td>
      </tr>
    </table>
  </center>
  <center>
    <table class="body" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" valign="top" class="center">

          <!-- Body -->

        </td>
      </tr>
    </table>
  </center>
  <center>
    <table class="body" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" valign="top" class="center">

          <!-- Footer -->

        </td>
      </tr>
    </table>
  </center>
  </body>
</html>
