<style type="text/css">
  body,
  html, 
  .body {
    background: #f3f3f3 !important;
  }
</style>

<container>

  <spacer size="16"></spacer>

  <row>
    <columns>
      <h1 class="text-center">The Insider</h1>
      <center>
        <img src="http://placehold.it/500x200">
      </center>

      <spacer size="16"></spacer>
      
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa itaque illo doloribus soluta expedita dolores commodi fuga odit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto reiciendis eos magni deleniti accusamus tempore, consectetur! Maxime amet, exercitationem nihil fugit eius esse voluptatum ab incidunt minima, saepe reiciendis ipsum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto reiciendis eos magni deleniti accusamus tempore, consectetur! Maxime amet, exercitationem nihil fugit eius esse voluptatum ab incidunt minima, saepe reiciendis ipsum.</p>

      <row>
        <columns large="6">
          <h4>More Reading:</h4>
          <ul>
            <li><a href="#">Lorem Ipsum Dolor Sit Amet</a></li>
            <li><a href="#">Lorem Ipsum Dolor Sit Amet</a></li>
            <li><a href="#">Lorem Ipsum Dolor Sit Amet</a></li>
          </ul>
        </columns>
        <columns>
          <h4>Get Involved:</h4>
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </columns>
      </row>

      <p><small>You received this email because you're signed up to get updates from us. <a href="#">Click here to unsubscribe.</a></small></p>
    </columns>
  </row>
</container>
