<container>
  <row>
    <columns>
      <h1 class="text-center">Welcome to Kraken Academy</h1>
      <menu class="text-center">
        <item href="#">About</item>
        <item href="#">Course List</item>
        <item href="#">Campus Map</item>
        <item href="#">Contact</item>
      </menu>
      <center>
        <img src="http://placehold.it/200x200">
      </center>
      <h4>An exciting future of terrorizing sailors awaits you at Kraken Academy.</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa vel architecto, perspiciatis eius cum autem quidem, sunt consequuntur, impedit dolor vitae illum nobis sint nihil aliquid? Assumenda, amet, officia.</p>
      <menu>
        <item href="#">krakenacademy.com</item>
        <item href="#">Facebook</item>
        <item href="#">Twitter</item>
        <item href="#">(408)-555-0123</item>
      </menu>
    </columns>
  </row>
</container>
