<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="ink.css"> <!-- For testing only -->

    <style type="text/css">
      /* Include ink.css */
    </style>
    <style type="text/css">

      /* Your custom styles go here */

    td.no-pad { padding-top: 0px !important }
    ul.no-pad { padding-left: 20px !important }
    h5, h6 { font-weight: 300 !important; }
    table.columns .text-pad {
      padding-left: 15px;
      padding-right: 15px;
    }

    table.columns .left-text-pad {
      padding-left: 20px;
    }

    table.columns .right-text-pad {
      padding-right: 20px;
    }
    
    @media only screen and (max-width: 600px) {

      table[class="body"] .right-text-pad {
        padding-left: 20px !important;
      }

{
        padding-right: 20px !important;
      }
    }
    </style>
  </head>
  <body>
    <table class="body" style="background:#004454;">
      <tr>
        <td class="center" align="center" valign="top">
          <center>

           <!-- Full Width Header with Logo  -->
           <table class="row" style="background:#ffffff;">
              <tr>
                <td>
            
                  <table class="container">
                    <tr>
                      <td class="wrapper last">
            
                        <table class="twelve columns">
                        <tr>
                        
                          <td class="eight sub-columns">
                            <img src="http://placehold.it/200x50&text=Logo">
                          </td>
                          <td class="four sub-columns last" align="right" style="text-align:right; vertical-align:middle;">
                            <span style="color:#ffffff;font-weight:bold;font-size:11px;">
                              <a class="tiny-button radius" href="#">
                                <table>
                                  <tr>
                                    <td>
                                      Button Label
                                    </td>
                                  </tr>
                                </table>
                              </a>
                            </span>
                          </td>
                          <td class="expander"></td>
                          
                        </tr>
                        </table>
            
                      </td>
                      
                    </tr>
                  </table>

                </td>
              </tr>
           </table> 

            <br>

            <table class="container" style="background:#ffffff;">
              <tr>
                <td>

                  <table class="row">
                    <tr>
                      <td class="wrapper">

                        <table class="four columns">
                          <tr>
                            <td class="left-text-pad">

                              <img src="http://placehold.it/180x100&text=Graphic">

                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>

                      <td class="wrapper last">

                        <table class="seven columns">
                          <tr>
                            <td class="text-pad">

                              <h6>Hey, Thanks for Signing Up!</h6>
                              <p>Omnis, doloremque, amet, cupiditate explicabo cupiditate explicabo magni dolores aliquam dicta enim amet, cupiditate explicabo</p>
                              
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>

                    </tr>
                  </table>

                </td>
              </tr>
            </table>

            <br>

            <table class="container" style="background:#fff;">
              <tr>
                <td>
                  <table class="row">
                    <tr>
                      <td class="wrapper no-pad">
                        <table class="eight columns">
                          <tr>
                            <td class="text-pad">
                              <br>
                              <h4>Welcome Aboard!</h4>
                              <br>
                              <img src="http://placehold.it/380x290&text=IMG" style="margin-bottom:10px;">
                              <br>
                            </td>
                            <td class="expander"></td>
                          </tr>

                        </table>
                        <table class="eight columns">
                          <tr>
                            <td class="text-pad">
                              <h5>What You Get</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, mollitia, vero tempore consectetur similique perspiciatis nisi nulla neque modi facilis. Eveniet, cupiditate, recusandae quasi repellat alias dolorem qui possimus et.</p>
                              <h5>Why This is Awesome</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, doloremque, amet, cupiditate explicabo magni dolores aliquam dicta enim voluptatibus hic optio neque quasi officia culpa minima numquam iusto illo dolorem?</p>
                              <h5>What You Get</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, mollitia, vero tempore consectetur similique perspiciatis nisi nulla neque modi facilis.</p>
                              <h5>How to this helps</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, mollitia, vero tempore consectetur similique perspiciatis nisi nulla neque modi facilis.</p>
                            </td>

                            <td class="expander"></td>
                          </tr>

                        </table>
                        <table class="eight columns">
                          <tr>
                            <td class="nine sub-columns left-text-pad">

                              <a class="large-button" href="#">
                                <table>
                                  <tr>
                                    <td>
                                      Button Label &raquo;
                                    </td>
                                  </tr>
                                </table>
                              </a>
                              
                            </td>
                            <td class="three sub-columns last">

                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                        <table class="eight columns">
                          <tr>
                            <td class="left-text-pad">
                              <hr>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                        <table class="eight columns">
                          <tr>
                            <td class="five sub-columns left-text-pad">

                              <img src="http://placehold.it/159x159" style="border-radius:60px;margin-bottom:10px;">
                              <h6 style="text-align:center;">Mister Dude</h6>
                            </td>
                            <td class="seven sub-columns text-pad last">

                              <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, doloremque, amet, cupiditate explicabo magni dolores aliquam dicta enim voluptatibus hic optio neque quasi officia?</h6>

                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                      <td class="wrapper no-pad last" style="background:#f1f1f1;">

                        <table class="four columns">
                          <tr>
                            <td class="text-pad">
                              <br>
                              <h6>Your Account:</h6>
                              <p><strong>Active Since 10/5/13</strong></p>

                              <h6>Account Access:</h6>
                              <p><strong>Admin</strong></p>

                              <hr>
                              <br>
                              <img src="http://placehold.it/45x45&text=Icon"class="center">
                              <br>
                              <h6>Admin Options</h6>
                              <ul class="no-pad">
                                <li>
                                  <strong>Lorem ipsum</strong>
                                  <p>mollitia, vero tempore consectetur similique perspiciatis nisi</p>
                                </li>
                                <li>
                                  <strong>Dolor sit amet</strong>
                                  <p>mollitia, vero tempore consectetur similique perspiciatis nisi</p>
                                </li>
                                <li><strong>Numquam iusto illo dolorem</strong>
                                  <p>mollitia, vero tempore consectetur similique perspiciatis nisi</p>
                                </li>
                              </ul>
                              <a class="button radius" href="#">
                                <table>
                                  <tr>
                                    <td>
                                      Button Label
                                    </td>
                                  </tr>
                                </table>
                              </a>
                              <br>
                              <hr>
                              <br>
                              <img src="http://placehold.it/45x45&text=Icon"class="center">
                              <br>
                              <h6>Upgrade Now For:</h6>
                              <ul class="no-pad">
                                <li>
                                  <strong>Lorem ipsum</strong>
                                  <p>mollitia, vero tempore consectetur.</p>
                                </li>
                                <li>
                                  <strong>Dolor sit amet</strong>
                                  <p>mollitia, vero tempore consectetur.</p>
                                </li>
                                <li><strong>Numquam iusto illo dolorem</strong>
                                  <p>mollitia, vero tempore consectetur.</p>
                                </li>
                              </ul>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <br>

          </center>
        </td>
      </tr>
    </table>
  </body>
</html>